# Infomaniak's API keys
INFOMANIAK_API_KEY="API_KEY"
INFOMANIAK_PRODUCT_ID="product_id"

# Moodle Integration
MOODLE_INTEGRATION=true
MOODLE_JWT_SECRET="token"
MOODLE_PROXY_MODE=true
MOODLE_ORIGIN=https://aimove.minesparis.psl.eu
ADMIN_SECRET="secret"

# Moodle Database (for consolidated storage)
MOODLE_DB_TYPE=mysql
MOODLE_DB_HOST=localhost
MOODLE_DB_PORT=3306
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodleuser
MOODLE_DB_PASSWORD="password"
MOODLE_TABLE_PREFIX=mdl_

CRAFTPILOT_INTERNAL_TOKEN="token"
CRAFTPILOT_URL=http://127.0.0.1:8000
VIDEOS_DIR=/var/video_uploads